$primary-color:#402270;
$secondary-color:#740ab6;
$tertiary-color:#4281d4;
$neutral-color: #fff;
$hover-color: rgb(9, 9, 172);
$fonts:poppins, sans-serif;
$space: 20px;
$percent: red;
$positive: rgb(40, 212, 40);
$input:gray;